*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}


body {
    margin: 0;
    min-height: 100vh;
    background:
        radial-gradient(
            circle at 0% 100%,
            rgba(255, 80, 0, 0.55) 0%,
            rgba(255, 60, 0, 0.35) 20%,
            rgba(255, 40, 0, 0.18) 40%,
            rgba(255, 20, 0, 0.08) 55%,
            transparent 70%
        ),
        linear-gradient(
            135deg,
            #000000 40%,
            #0a0a0a 70%,
            #000000 100%
        );
}

